@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&family=Poppins:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* header */

.head {
  background-image: url("../images/mobile-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

.upper-navigation {
  display: none;
}

.main-navigation {
  display: none;
}

.hambugar {
  font-size: 40px;
  color: black;
  cursor: pointer;
}

.head-content {
  display: flex;
  align-items: center;
  height: 90vh;
}

.head-content h3 {
  font-size: 30px;
  font-weight: 300;
  color: #ec5242;
}

.head-content .heading {
  font-size: 40px;
  font-weight: bold;
  color: #ec5242;
  margin-top: 5px;
}

.head-box {
  border: 2px solid white;
  padding: 10px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 500;
  background-color: #f7f7f7;
}

.date {
  font-size: 1.5rem;
  color: #272a31;
  font-weight: 900;
  margin-top: 15px;
  font-style: italic;
}

/* header */

/* Program */

.program {
  background-color: #272a33;
  padding-bottom: 100px;
  padding-top: 50px;
  background-image: url("../images/fill-bg.png");
}

.program-heading {
  text-align: center;
  color: white;
  padding-top: 20px;
}

.program-heading span {
  width: 70px;
  display: inline-block;
  height: 3px;
  background: #ec5242;
}

.program-body {
  padding: 10px;
  margin-top: 10px;
}

.program-card {
  margin-top: 15px;
  display: flex;
  background-color: #3d4047;
  align-items: center;
  padding: 10px;
}

.program-card span {
  color: #ec5242;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.program-card .program-icon {
  flex: 60%;
  display: flex;
  align-items: center;
}

.program-card i {
  color: #ec5242;
  font-size: 40px;
}

.program-card p {
  color: #f7f7f7;
  font-size: 13px;
  font-weight: 300;
  flex: 40%;
}

.program-btn {
  margin-top: 30px;
  text-align: center;
}

.program-btn a {
  text-decoration: none;
  background-color: #ec5242;
  padding: 20px;
  color: white;
}

/* Program */

/* Feature */

.feature {
  padding: 10px;
}

.feature-heading {
  text-align: center;
  color: black;
  padding-top: 20px;
  padding-bottom: 40px;
}

.feature-heading span {
  width: 70px;
  display: inline-block;
  height: 3px;
  background: #ec5242;
}

.feature-card {
  display: flex;
  padding: 10px;
}

.feature-content {
  margin: 10px;
}

.feature-content h2 {
  font-size: 18px;
}

.feature-content h3 {
  font-size: 13px;
  margin-top: 5px;
  color: #ec5242;
}

.feature-content span {
  width: 20px;
  display: inline-block;
  height: 3px;
  background: gray;
}

.feature-content p {
  font-size: 13px;
  margin-top: 5px;
}

.feature-card img {
  width: 100px;
  height: 100px;
  margin: 20px 10px 20px 20px;
}

.feature-img {
  background-image: url("../images/dot.svg");
  background-size: 4rem;
  background-repeat: no-repeat;
}

.feature-btn {
  border: 1px solid #d6d6d6;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

.feature-btn a {
  color: #7f7f83;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

.feature-btn i {
  color: #ec5242;
}

#speaker5 {
  display: none;
}

#speaker6 {
  display: none;
}

/* Feature */

/* partner */

.partner {
  background-color: #424146;
  text-align: center;
}

.partner-heading h2 {
  text-align: center;
  color: #9b9b9f;
  padding-top: 50px;
}

.partner-heading span {
  width: 30px;
  display: inline-block;
  height: 2px;
  background: #ec5242;
}

.partner-content {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
}

.partner-content span {
  color: #abaaab;
  margin-left: 10px;
  font-size: 30px;
}

/* footer */

.footer-content {
  display: flex;
  padding: 30px;
  text-align: center;
  align-items: center;
}

.footer-content h2 {
  flex: 50%;
  font-size: 20px;
  font-weight: 900;
}

.footer-content p {
  flex: 50%;
  color: gray;
  font-size: 15px;
}

/* about page */

/* about-main */

.about-main {
  text-align: center;
  padding: 50px;
}

.about-main-heading {
  text-align: center;
}

.about-main-heading span {
  display: inline-block;
  width: 30px;
  background-color: #ec5242;
  height: 2px;
}

.about-past {
  color: gray;
}

.about-main-box {
  color: gray;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}

.about-image-box {
  padding: 10px 0 10px 0;
  color: white;
}

.about-image {
  position: relative;
  background-image: url("../images/about1.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;
  margin-top: 20px;
  color: white;
}

.about-image h2 {
  position: relative;
  color: #fff;
  font-size: 2rem;
  line-height: 0.9;
  text-align: center;
}

.about-image p {
  position: relative;
  color: #fff;
  font-size: 1rem;
  line-height: 0.9;
  text-align: center;
}

.about-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 0, 0, 0.5);
}

.about-image1 {
  position: relative;
  background-image: url("../images/about2.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;
  margin-top: 20px;
  color: white;
}

.about-image1 h2 {
  position: relative;
  color: #fff;
  font-size: 2rem;
  line-height: 0.9;
  text-align: center;
}

.about-image1 p {
  position: relative;
  color: #fff;
  font-size: 1rem;
  line-height: 0.9;
  text-align: center;
}

.about-image1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 0, 0, 0.5);
}

/* about-main */

/* header */

.about-head {
  background-image: url("../images/mobile-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

.about-content {
  padding-top: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

.about-content h3 {
  font-size: 30px;
  font-weight: 300;
  color: #ec5242;
}

.about-content .heading {
  font-size: 40px;
  font-weight: bold;
  color: #ec5242;
  margin-top: 5px;
}

.about-box {
  border: 1px solid rgb(182, 182, 182);
  background-color: white;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
}

.about-main-heading p {
  margin-top: 5px;
}

.about-content div p {
  margin-bottom: 10px;
  font-size: 20px;
}

.about-content div a {
  color: black;
  margin-top: 20px;
}

/* about header */
#overlay {
  display: none;
  background: #ececed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  position: fixed;
  text-align: center;
  padding-top: 30px;
}

#overlay ul {
  list-style-type: none;
}

#overlay ul li {
  margin-top: 30px;
}

#overlay ul li a {
  text-decoration: none;
  color: #ec5242;
  font-size: 30px;
}

#overlay ul li a:hover {
  border-bottom: 2px solid #ec5242;
}

.closebtn {
  text-align: right;
}

.closebtn i {
  font-size: 35px;
  color: black;
  margin-right: 20px;
  cursor: pointer;
}

/* desktop version */
@media (min-width: 768px) {
  .hambugar {
    display: none;
  }

  .head {
    background-image: url("../images/desktop-bg.png");
  }

  .upper-navigation {
    display: block;
    background-color: #272a31;
  }

  .upper-navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }

  .upper-navigation ul li {
    margin-left: 10px;
    padding: 10px;
  }

  .upper-navigation ul li a {
    color: white;
    text-decoration: none;
  }

  .main-navigation {
    box-shadow: 2px 2px 2px 2px rgb(236, 234, 234);
    display: flex;
    justify-content: space-around;
    color: gray;
    align-items: center;
    padding: 10px;
    position: relative;
  }

  .navigation-logo {
    display: flex;
    align-items: center;
    color: black;
  }

  .main-navigation ul {
    list-style-type: none;
    display: flex;
  }

  .main-navigation ul li {
    padding: 10px;
    margin-left: 40px;
  }

  .main-navigation ul li a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
  }

  .main-navigation ul li a:hover {
    color: #ec5242;
  }

  .head-content {
    justify-content: center;
  }

  .head-content h3 {
    font-size: 35px;
    font-weight: 400;
  }

  .head-content .heading {
    font-size: 55px;
  }

  .head-box {
    width: 60%;
    padding: 20px;
  }

  .date {
    font-size: 2rem;
  }

  .program-card {
    flex-direction: column;
    margin-left: 10px;
    text-align: center;
    flex: 25%;
  }

  .program-body {
    display: flex;
    padding: 50px 100px 50px 100px;
  }

  .program-icon {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .program-icon span {
    margin-left: 0;
    margin-top: 5px;
  }

  .feature-btn {
    display: none;
  }

  .feature-body {
    display: grid;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    grid-template-columns: repeat(2, 1fr);
  }

  #speaker5 {
    display: flex !important;
  }

  #speaker6 {
    display: flex !important;
  }

  /* about page */

  .about-content {
    height: 80vh;
    align-items: center;
  }

  .about-content .heading {
    margin-bottom: 30px;
  }

  .about-box {
    width: 50%;
    margin-bottom: 30px;
  }

  .about-upper-box {
    display: flex;
    justify-content: center;
  }

  .about-main-box {
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-image-box {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
  }

  .about-image {
    margin-left: 20px;
  }

  .about-image1 {
    margin-left: 20px;
  }

  /* about page */
}

/* desktop version */
